@import './../../global.sass'
@import './../../assets/mixins/_element.sass'

footer
    @include displayFlex(row, flex-end, center)
    position: fixed
    bottom: 0
    width: 100%
    min-height: 6.3rem
    z-index: 2
    background-color: $white
.section-icons
    display: flex
    width: 50%
    justify-content: space-evenly
    .icon
        margin: 0 0.7rem
        font-size: x-large

.button
    position: absolute
    left: 1.9rem
    bottom: 0
    @include button(1.5rem 1.3em)