@import './../../global.sass'
@import './../../assets/mixins/_element.sass'

main
    @include main

.category-container
    display: flex
    flex-wrap: wrap
.products-container
    display: flex
    flex-wrap: wrap
    justify-content: center
.buttonProducts
    margin: 0.5rem
    @include button(0.7rem 0.5em)
    position: relative

h5
    color: grey
    font-weight: 500
    font-size: 1rem
h3
    font-size: 1.7rem
.sectionFirst
    padding: 1.9rem
.container-carrusel
    width: 100%
    display: flex
    overflow: hidden
    border-radius: 0.8rem
    .margin
        margin: 0.6rem 0.4rem
.padding
    padding: 0rem 1.9rem
