@import './../../../global.sass'
.cart-container
    display: flex
    width: 40%
    border: solid
    margin: 0.6rem
    padding: 0.9rem
    .img-container
        padding: 1.3rem
    .description-container
        display: flex
        flex-direction: column
        width: 100%
        margin-left: 1.9rem
        .price-container
            display: flex
        .name-product
            font-size: 1.4rem
        .padding
            margin: 0.1rem
.price-container
    display: flex
    justify-content: space-between
    margin-top: 1.3rem
    .price
        font-weight: bolder
    .size
        font-size: 1.3rem