@import './../../../global.sass'
.title-container 
    label
        color: $primary
        font-size: $medium
        @include displayFlex(row, flex-start, center)
        font-weight: $bold

    
        