.header
    background-color: white
    padding: 2rem 0rem 0rem 0rem  
    display: flex
    justify-content: space-around
    align-items: center
.display
    display: none
@media (min-width: 48rem)
    .display
        display: flex