.card-container
    height: 199px
    width: 12%
    display: flex
    flex-direction: column
    padding: 12px
    margin: 4px
    font-size: 11px
    transition: 0.3s
    .first-content
        display: flex
        justify-content: space-between
        height:20%
        font-size: 15px
    .second-content
        height: 50%
        width: 100%
        text-align-last: center
    .third-content
        height:30%
        display: flex
        flex-direction: column
        justify-content: center
            
    &:hover
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
        

figure
    width: 100%
    height: 100%
    align-self: center

.price
    font-size: 14px
    font-weight: 500 