@import './../../../global.sass'
@import './../../../assets/mixins/_form'

.card-container
    height: 12.5rem
    width: 11.3rem
    display: flex
    flex-direction: column
    padding: 0.8rem
    margin: 0.4rem
    font-size: 0.7rem
    transition: 0.3s
    .first-content
        display: flex
        justify-content: space-between
        height:20%
        font-size: 0.9rem
    .second-content
        height: 50%
        width: 100%
        text-align-last: center
    .third-content
        height:30%
        display: flex
        flex-direction: column
        justify-content: center
            
    &:hover
        box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.2)
        

figure
    width: 100%
    height: 100%
    align-self: center

.price
    font-size: 0.9rem
    font-weight: 500 
.button-add
    font-family: "Roboto", sans-serif
    font-size: 1rem
    outline: 0
    border: 0.1rem solid
    padding: 0.3rem
    background: #fafafa
    color: #ff8508
    border-radius: 0.8rem
    height: 1.8rem
    margin-top: 1.6rem
    position: absolute
    margin-left: 8.5rem
    width: 3.1rem
