@import './../../../global.sass'
.title-container
    margin-bottom: 1.9rem
    
    label
        color: $primary
        font-size: $medium
        font-weight: $bold
        margin-bottom: 5.6rem

    
        